@model serviceSphere.Models.category
@{
    ViewBag.Title = "category_pageload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>add category</h2>
<div>
    @using (Html.BeginForm("category_clickinsert", "category", FormMethod.Post))
    {
        <div>
            <label>Service category Name:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.cat_name)
            @Html.ValidationMessageFor(m => m.cat_name)
        </div>



        <div>
            <input type="submit" value="create" />
            @Html.DisplayFor(m => m.msg)
        </div>

    }
</div>

<br />
<br />

<h3>Category List</h3>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Action</th>
    </tr>

    @foreach (var item in ViewBag.categorylist)
    {
<tr>
    <td>@item.catid</td>
<td>@item.catname</td>

<td>
    @Html.ActionLink(
    "Delete",
    "category_delete",
    new { id = item.catid },
    new { @class = "btn btn-danger" })
</td>
</tr>
    }

</table>
